.opinion-tareke-students {
padding: 40px;
background-image: url('../media/opinion-student-of-tareke/opinion-background.png');
height: auto; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}

.card_opinion {
box-shadow: 7px 9px 23px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 9px 23px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 9px 23px -12px rgba(0,0,0,0.75);
}