.sections-title
{
    border-bottom:2px solid #6A59FF ;
    border-top:2px solid #6A59FF ;
    width: max-content;
}

.sections  h4
{
    background-color: #037A79;
width: 80%;
margin: 20px auto;
color: white !important;
}
.sections .after-arrow  ,.sections .before-arrow
{
    width: 50px ;
    height:50px;
     z-index: 100;
     padding: 0;
}
.sections .after-arrow:hover  ,.sections .before-arrow:hover 
{
    cursor: pointer;
}
.after-arrow 
{
    top: 50%;
    right: 0%;
}
.before-arrow
{
top: 50%;
left: 0%;
}